form {
	text-align: left;
	padding: 20px;
	background-color: #DADADA;
	font-family: Arial;
	font-weight: bold;
	vertical-align: top;
	border-radius: 10px;
}

button.submit {
	background-color: #E65C00;
} 